*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.footer{
    /* height: 33vh; */
    background: black;
    color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
}
.parent1{
    height: 10vh;
    /* border: 10px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.parent2, .parent3{
    height: 10vh;
    /* border: 10px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}